.spaceddiv {
  height: 40px;
  width: 40vw;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 10px 0;
}

.scrollablefield  {
  width: 80%;
  height: 20px;
  .mat-input-element {
    overflow-x: auto;
  }
}

.mat-card {
  height: 95%;
  overflow-y: auto;
}

.status {
  color: green;
  font-weight: 800;
}

.ng-invalid .status {
  color: red;
}

.grid-container {
  margin: 20px;
}

.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.dashboard-card-content {
  text-align: center;
}
