<!doctype html>
<html>
<head>
    <link rel="shortcut icon" href="{{ url_for('static', filename='Orange_32.png') }}">
    <meta charset="utf-8"><meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>LatSeq Analysis tool</title>
    <!--Theme : boosted orange https://boosted.orange.com/ -->
    <link href="{{url_for('static', filename='dist/css/orangeHelvetica.css')}}" rel="stylesheet">
    <link href="{{url_for('static', filename='dist/css/orangeIcons.css')}}" rel="stylesheet">
    <link rel="stylesheet" href="{{url_for('static', filename='dist/css/boosted.css')}}">
    <link href="{{url_for('static', filename='style-home.css')}}" rel="stylesheet">
    <script src="{{url_for('static', filename='plotly-latest.min.js')}}"></script>
    <script src="{{url_for('static', filename='d3.min.js')}}"></script>
</head>
<body>
    <header role="banner">
        <nav class="navbar navbar-dark bg-dark navbar-expand-md">
            <div class="container-fluid">
                <a class="navbar-brand" href="#"><img src="{{ url_for('static', filename='Orange_32.png') }}" alt="Back to homepage" title="Back to homepage"/>
                    <span class="h1 mb-0">LatSeq Analysis tool</span>
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#orange-navbar-collapse" aria-controls="orange-navbar-collapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse justify-content-between collapse" id="orange-navbar-collapse">
                    <ul class="navbar-nav" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link" href="/create" role="button">Créer un scenario</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/stats" role="button">Statistiques</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <main class="container-fluid">
        <div class="row">
            <div class="col-md-5">
                <h3>Liste des Scenarios</h3>
            </div>
            <div class="col-md-7">
                <h3>Liste des Analyses</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5">
                <table id="gallery-scenario" class="table tablesorter">
                    <thead>
                        <tr>
                            <th scope="col" class="header">Nom (click to run)</th>
                            <th scope="col" class="header">Fichier</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for sce in scenarios %}
                        <tr> {{ sce|safe }}</tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="col-md-7">
                <table id="gallery-analyse" class="table tablesorter">
                    <thead>
                        <tr>
                            <th scope="col" class="header">Nom (click to analyse)</th>
                            <th scope="col" class="header">Date (de capture)</th>
                            <th scope="col" class="header">Taille (pts)</th>
                            <th scope="col" class="header">Fichier (*.lseq)</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in items %}
                        <tr> {{ item|safe }} </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </main>

    <footer role="contentinfo">
        <div class="container-fluid">
            <span>© Orange 2020, LATency SEQuence analysis tool
            </span>
            <span id="id-for-cdu-link" class="navbar-right"> par A. Ferrieux et F. Ronteix--Jacquet dM.
            </span>
        </div>
    </footer>

    <script src="{{url_for('static', filename='dist/assets/js/vendor/jquery-slim.min.js')}}"></script>
    <script src="{{url_for('static', filename='dist/assets/js/vendor/popper.min.js')}}"></script>
    <script src="{{url_for('static', filename='dist/js/boosted.js')}}"></script>
</body>
</html>