<!doctype html>
<html>
<head>
    <link rel="shortcut icon" href="{{ url_for('static', filename='Orange_32.png') }}">
    <meta charset="utf-8"><meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>LatSeq analysis tool</title>
    <link href="{{url_for('static', filename='dist/css/orangeHelvetica.css')}}" rel="stylesheet">
    <link href="{{url_for('static', filename='dist/css/orangeIcons.css')}}" rel="stylesheet">
    <link rel="stylesheet" href="{{url_for('static', filename='dist/css/boosted.css')}}">
    <link href="{{url_for('static', filename='style.css')}}" rel="stylesheet">
    <script src="{{url_for('static', filename='plotly-latest.min.js')}}"></script>
    <script src="{{url_for('static', filename='d3.min.js')}}"></script>
</head>
<body>
    <header>
        <a href="/" class="btn btn-secondary svg-arrow-previous" title="go back to examples">Liste</a>
        <h1>LatSeq statistics > {{ desc }} ()</h1>
    </header>
    
    <main class="container-fluid">

        <div class="row mb-3">
            <div class="col-6">
                <h3>Downlink</h3>
            </div>
            <div class="col-6">
                <h3>Uplink</h3>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-6">
                <h3>Global Journeys downlink</h3>
                <div class="chart" id="graph-spin-d">
                    <script>
                        var graphs = {{ spind | safe }};
                        Plotly.plot('graph-spin-d',graphs,{});
                    </script>
                </div>
            </div>
            <div class="col-6">
                <h3>global Journeys uplink</h3>
                <div class="chart" id="graph-spin-u">
                    <script>
                        var graphs = {{ spinu | safe }};
                        Plotly.plot('graph-spin-u',graphs,{});
                    </script>
                </div>
            </div>
        </div>
    </main>
    
    <script src="{{url_for('static', filename='dist/assets/js/vendor/jquery-slim.min.js')}}"></script>
    <script src="{{url_for('static', filename='dist/assets/js/vendor/popper.min.js')}}"></script>
    <script src="{{url_for('static', filename='dist/js/boosted.js')}}"></script>
</body>
</html>