<div class="grid-container">
  <mat-grid-list cols="11" rowHeight="100px">
    <mat-grid-tile [colspan]="11" [rowspan]="1">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>{{ scopetitle }} {{ scopesubtitle }}</mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">

          <div FxLayoutAlign="row">
            <label>{{ scopetime }} {{ scopestatus }} &nbsp; &nbsp; </label>
          </div>

        </mat-card-content>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="1" [rowspan]="8">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>Scope control</mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
		    <button mat-mini-fab color={{startstop_color}} (click)="startorstop()">{{startstop}}</button>
            <br><br>
            <div class="scope-slider-div">
            <label id="scope-slider-refrate-labelid" class="scope-slider-label">refresh rate</label>
            <label class="scope-slider-value-label"> {{rfrate}} </label>
            </div>           
            <mat-slider class="scope-slider" min=".1" max="30" step="0.1" [value]="rfrate" 
                        aria-labelledby="scope-slider-refrate-labelid" vertical="true" thumbLabel="true" 
                        [(ngModel)]="rfrate" (change)="OnRefrateChange()" > 
            </mat-slider>
	        <br><br>        
            <mat-list-item class="sigselect" role="listitem">
		      <mat-form-field class="select-form">
			  <mat-select placeholder="sig select" name="SigSelect" class="SigSelect" [value]="selected_sig.target_id" (selectionChange)="SigChanged($event.value)" >
				 <mat-option *ngFor="let targetid of target_list" [value]="targetid" >
					{{selected_sig.target_id}}
				 </mat-option>
			  </mat-select>
		      </mat-form-field>
	        </mat-list-item>             
        </mat-card-content> 
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="5" [rowspan]="2">
      <mat-card class="dashboard-card">
        <mat-card-content class="dashboard-card-content">
 
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    
    <mat-grid-tile [colspan]="5" [rowspan]="2">		
      <mat-card class="dashboard-card">
        <mat-card-content class="dashboard-card-content">

        </mat-card-content>
      </mat-card>
    </mat-grid-tile> 

    <mat-grid-tile [colspan]="5" [rowspan]="3">
      <mat-card class="dashboard-card">
        <mat-card-content class="dashboard-card-content">
			<div fxLayout="column">
			  <div  fxFlex="1 1 90% ">
              <canvas baseChart width="90%"
                [datasets]=" LLRDatasets"
                [options]="LLROptions"
                [type]="'scatter'">
              </canvas>
              </div>
            <div fxFlex="0 1 10%"  style="width:60%">
	        <mat-list-item class="llrchannelselect" role="listitem">
		      <mat-form-field class="select-form">
			  <mat-select placeholder="Channels(llr view)" name="llrChannelsSelect" class="ChannelsSelect" multiple [value]="selected_llrchannels" (selectionChange)="llrchannelsChanged($event.value)" >
				 <mat-option *ngFor="let graph of llrgraph_list" [value]="graph.title" >
					{{graph.title}}
				 </mat-option>
			  </mat-select>
		      </mat-form-field>
	        </mat-list-item> 
	        </div>
	      </div>                 
        </mat-card-content>
      </mat-card>
    </mat-grid-tile> 
        
     <mat-grid-tile [colspan]="5" [rowspan]="6">
      <mat-card class="dashboard-card">
        <mat-card-content>
		  <div fxLayout="column">
			<div  fxFlex="1 1 80% " style="width:60%">
              <canvas baseChart
                [datasets]="IQDatasets"
                [options]="IQOptions"
                [type]="'scatter'">
              </canvas>
            </div> 
            <br><br>
            <div fxFlex="0 1 10%"  style="width:60%">
	        <mat-list-item class="channelselect" role="listitem">
		      <mat-form-field class="select-form">
			  <mat-select placeholder="Channels(IQ view)" name="ChannelsSelect" class="ChannelsSelect" multiple [value]="selected_channels" (selectionChange)="channelsChanged($event.value)" >
				 <mat-option *ngFor="let graph of iqgraph_list" [value]="graph.title" >
					{{graph.title}}
				 </mat-option>
			  </mat-select>
		      </mat-form-field>
	        </mat-list-item>
	        </div>
	        <div fxFlex="0 1 5%">            
            <div class="form-group" fxFlex="50%">  
            <div class="scope-slider-div">
            <label id="xfilter" class="scope-slider-label"> xmin xmax: </label>
            <label class="scope-slider-value-label"> {{iqxmin}} {{iqxmax}} </label>
            </div> 				        
            <mat-slider class="scope-slider" [min]="iqmin" max="0" invert="true" [step]="iqsliderstep" [value]="iqxmin" 
                        aria-labelledby="xfilter" thumbLabel="true" 
                        [(ngModel)]="iqxmin" (change)="OnIQxminsliderChange()" xmin> 
            </mat-slider>
            <mat-slider class="scope-slider" min="0" [max]="iqmax" [step]="iqsliderstep" [value]="iqxmax" 
                        aria-labelledby="xfilter" thumbLabel="true" 
                        [(ngModel)]="iqxmax" (change)="OnIQxmaxsliderChange()" > 
            </mat-slider> 
            </div>
            <div class="form-group" fxFlex="50%">
            <div class="scope-slider-div">
            <label id="yfilter" class="scope-slider-label"> ymin ymax: </label>
            <label class="scope-slider-value-label"> {{iqymin}} {{iqymax}} </label>
            </div> 					
            <mat-slider class="scope-slider" [min]="iqmin" max="0" invert="true" [step]="iqsliderstep" [value]="iqymin" 
                        aria-labelledby="yfilter" thumbLabel="true" 
                        [(ngModel)]="iqymin" (change)="OnIQyminsliderChange()" > 
            </mat-slider> 
            <mat-slider class="scope-slider" min="0" [max]="iqmax" [step]="iqsliderstep" [value]="iqymax" 
                        aria-labelledby="yfilter" thumbLabel="true" 
                        [(ngModel)]="iqymax" (change)="OnIQymaxsliderChange()" > 
            </mat-slider>
            </div>                               
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>           
  </mat-grid-list>
</div>
