<div class="grid-container">
  <mat-grid-list cols="11" rowHeight="100px">
    <mat-grid-tile [colspan]="11" [rowspan]="1">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>scope status</mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">

          <div FxLayoutAlign="row">
            <label>{{ scopetime }}&nbsp; &nbsp; </label>
            <label>{{ scopestatus }}</label>
          </div>

        </mat-card-content>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="1" [rowspan]="20">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>Scope control</mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div FxLayoutAlign="row">
            <button (click)="startorstop()">{{startstop}}</button>
          </div>

          <!-- ERROR Error: formControlName must be used with a parent formGroup directive.  You'll want to add a formGroup
                    directive and pass it an existing FormGroup instance (you can create one in your class).

                  Example:

                  
                <div [formGroup]="myGroup">
                  <input formControlName="firstName">
                </div>

                In your class:

                this.myGroup = new FormGroup({
                    firstName: new FormControl()
                });

              -->

          <div class="scope-slider">
            <ngx-slider (userChange)="OnRefrateChange()" [(value)]="rfrate" [options]="options"
              formControlName="sliderControl"></ngx-slider>
            <label for="rfrate"> refresh rate {{rfrate}}</label>
          </div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="5" [rowspan]="10">
      <mat-card class="dashboard-card">
        <mat-card-content class="dashboard-card-content">
          <canvas baseChart
            [datasets]="IQDatasets"
            [options]="IQOptions"
            [type]="'scatter'">
          </canvas>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="5" [rowspan]="10">
      <mat-card class="dashboard-card">
        <mat-card-content class="dashboard-card-content">

        </mat-card-content>
      </mat-card>
    </mat-grid-tile> 
    <mat-grid-tile [colspan]="5" [rowspan]="10">
      <mat-card class="dashboard-card">
        <mat-card-content class="dashboard-card-content">

        </mat-card-content>
      </mat-card>
    </mat-grid-tile> 
     <mat-grid-tile [colspan]="5" [rowspan]="10">
      <mat-card class="dashboard-card">
        <mat-card-content class="dashboard-card-content">

        </mat-card-content>
      </mat-card>
    </mat-grid-tile>           
  </mat-grid-list>
</div>
