<div class="grid-container">
  <mat-grid-list cols="10" rowHeight="100px">
    <mat-grid-tile [colspan]="10" [rowspan]="1">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>scope status</mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">

          <div FxLayoutAlign="row">
              <label>{{ scopetime }}&nbsp; &nbsp; </label>
              <label>{{ scopestatus }}</label>
          </div>

        </mat-card-content>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="1" [rowspan]="20">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>Scope control</mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
           <div FxLayoutAlign="row">
            <button (click)="startorstop()">{{startstop}}</button>
          </div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="9" [rowspan]="20">
      <mat-card class="dashboard-card">
        <mat-card-content class="dashboard-card-content">
 
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
